@import "variables.scss";

.Clients {
  color: $white;
  background: $black_to_dark;
  padding: 3em 1em;
  max-width: 1200px;
  margin: auto 0;

  &_title {
    text-align: center;
  }

  &_logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > * {
      max-width: 7em;
      max-height: 3.75em;
      //   max-width: 150px;
      //   max-height: 80px;
      margin: 1.3em;
      filter: grayscale(100%);
      opacity: 0.8;
    }
  }
}
