@import "variables.scss";

.Contact {
  color: $white;
  background: $dark;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3em;

  &_text {
    // flex-basis: 2;
    max-width: 600px;
  }

  & .InfoItems {
    margin-top: 2em;
  }

  &_form {
    display: flex;
    flex-direction: column;
    // flex-basis: 1;
    padding: 2em;
  }

  input {
    margin-bottom: 1em;
    border: none;
    border-bottom: 1px solid $white;
  }

  textarea {
    margin-bottom: 1em;
  }

  & [type="submit"] {
    background-color: $primary;
    outline: none;
    border: none;
    border-radius: 2em;
    display: inline-block;
  }

  &_map {
    overflow: hidden;
    background: $red_to_black;
    max-width: 100vw;
    max-height: 800px;
    margin-top: 3em;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
