@import "variables.scss";

.HeroCareers {
  background: $dark;
  color: $white;
  padding: 3em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & .text-wrapper {
    max-width: 35em;
  }

  &_leadin {
    margin-bottom: 0.3em;
  }

  &_media {
    background: $dark;
    flex: 1 1 auto;
    max-width: 700px;
    position: relative;
    display: flex;
    justify-content: center;

    @supports (max-width: max-content) {
      min-width: 20em;
      max-width: max-content;
      flex-basis: 20em;
    }

    &:after {
      content: "";
      background: $primary;
      position: absolute;
      width: 73%;
      height: 73%;
      top: 20%;
      left: 20%;
      //   z-index: -1;
    }

    img {
      max-width: 90%;
      max-height: 90%;
      width: auto;
      height: auto;
      padding: 2em;
      padding: 3em 2em;
      vertical-align: middle;
      z-index: 1;
    }
  }
}
