@import "variables.scss";

.IntroTextIcon {
  max-width: 30em;

  &_text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid $gray-lt;
    margin-bottom: 1.2em;
    padding-bottom: 0.8em;

    h2 {
      font-size: 1.8em;
    }
  }
  &_descLg {
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  &_icon {
    $circle: 2em;
    display: block;
    width: $circle;
    height: $circle;
    position: relative;
    margin-right: 1em;
    z-index: 1;

    & figure {
      z-index: 3;
      display: block;
      width: $circle;
      height: $circle;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: $primary;
      width: $circle;
      height: $circle;
      border-radius: $circle;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}
