@import "variables.scss";
.LogoGrid {
  padding: 0 2em;

  &_heading {
    margin-top: 3em;
    color: $primary;
  }

  &_grid {
    font-display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > * {
      max-width: 130px;
      max-height: 50px;
      margin: 1.1em;
      filter: grayscale(100%);
    }

    img {
      transition: all 0.2s ease-in-out;

      &:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
      }
    }
  }
}
