@import "variables.scss";

.Navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0px;
  position: sticky;
  box-sizing: border-box;

  .Menu {
    li {
      list-style: none;
      text-align: center;
      font-size: 0.72em;
      margin-bottom: 1em;
      text-transform: uppercase;
      letter-spacing: 0.12em;
      line-height: 1.12;

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          color: pink;
        }
      }
    }
    &.SubNav {
      color: white;
      text-align: left;
    }
  }
}
