.ProjectFeature {
  $light-theme: "[theme= " light " ]";
  $medium-theme: "[theme= " medium " ]";
  $dark-theme: "[theme= " dark " ]";
  $reverse: "[row= " reverse " ]";

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 3em;
  padding-bottom: 3em;
  justify-content: center;
  align-items: center;

  &_media {
    max-width: 38em;
    img {
      width: 100%;
    }
  }

  &#{$light-theme} {
    background-color: $white;
  }
  &#{$dark-theme} {
    background-color: $dark;
  }
  &#{$medium-theme} {
    background-color: $light;
  }
  &#{$reverse} {
    flex-direction: row-reverse;
  }
}
